*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

/* variables */

$color-primary:#50E3C2;
$color-secundary:#572EE5;
$color-thirdty:#F3F5F8 ;


/* mixins */

@mixin container {
    padding-right: 30px;
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
}




header{
    .nav{
        width: 100%;
        height: 95px;
        @include container;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header--content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       

        h1{
            width: 286px;
            height: 99px;
            padding-left: 25px;
            margin-bottom: 31px;
            text-align: center;
            font-family: 'Montserrat' ,bold;
            font-size: 25px;
            color: $color-secundary;
            line-height: 33px; 
            
            span{
               color: $color-primary;
            }
        }

        .header--ilustra {
            padding-left: 51px;
            padding-right: 51px;
            margin-left: auto;
            margin-right: auto;
            img{ 
                width: 273px;
                height: 130px; 
              }

        }

        .search--button input{
            position: relative;
            bottom: 10px;
            width: 334px;
            height: 50px;
            border-radius:27px;
            background: #FFFFFF;
            border: 1px solid #572EE5;
            font-size: 16px;
            text-align: left;
            font-family: 'Roboto',sans-serif;
            margin-left: 21px;
            margin-right: 21px;
            padding-left: 55px;
            padding-right: 24px;
            padding-top: 15px;
            padding-bottom: 13px;
        }
    }

}

.trending-content{
    
    color:$color-secundary;
    text-align: center;
    h2{
        font-size: 16px;
        font-family: 'Montserrat' ,bold;
        line-height: 25px;

    }

    .trending-keywords{
        width: 225px;
        height: 50px;
        margin-top: 2px;
        margin-left: 75px;
        margin-right: 75px;
        font-family: 'Montserrat'
        p{
            font-size: 14px;
            line-height: 25px;
            
        }
    }
    
}

.trending-gifos{
    background-color: $color-thirdty;
    width: 100%;
    height: 430px;
    margin-top: 45px;


    .trending-gifos-content{
           position: relative;
           top:46px;
        h2{
            font-family: 'Montserrat' ,bold;
            color: $color-secundary;
            font-size: 20px;
            text-align: center;
            line-height: 30px;
            
        }
    
        .trending-gifos-context{
            width: 333px;
            height: 46px;
            margin-top: 7px;
            margin-left: 21px;
            margin-right: 21px;
            font-size: 16px;
            font-family: Roboto,'regular';
            color: #000000;
            text-align: center;
            line-height: 23px;
        }


    }


    .trendin-galery{
       
        position: relative;
        top: 10px;
        margin-top: 64px;
        display: flex;
        justify-content: center;
       
        
    }
    


}


.footer-gifos{
    font-family: Roboto,'regular';
    width: 100%;
    height: 196px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    h2{
        font-size: 15px;
        
        
    }
    p{
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;
    }

.footer-social{

    a{
        margin-right: 19px;
    }

}


}